/*
#id_intro{
    font-weight: 500;
    font-size: 1.1rem;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: rgba(41, 39, 39, 0.9);
}
*/
body{
    background-color: #f8f9fa;
}
/*最上方导航*/
.top-title{
    background-color: #ffffff;
    height:100%;
    padding-top: 20px;
    padding-bottom: 15px;
}


#lab-title{
    font-weight:bolder;
    font-size:xx-large;
    color:rgb(0,0,0);
    font-family: "微软雅黑";
}

.lab-school{
    padding-top: 15px;
}

.lab-link{
    color:#333;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration:none; 
}

.lab-link:hover{
    color: #395ca3;
    text-decoration:none; 
}
/*
.lab-link:focus{
    color: #fff;
    background-color: #395ca3;
    text-decoration:none; 
}
*/
.lab-link:focus{
    text-decoration: none;
}
.intro{
    font-weight: 500;
    font-size: 1.1rem;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: rgba(41, 39, 39, 0.9);
    margin-top: 15px;
    margin-bottom: 15px;
}

#div_introduction{
    background-color: #ffffff;
    padding:30px;
    line-height:30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#introduction-1{
    font-weight: 500;
    font-size: 1.1rem;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.4px;
    line-height: 30px;
    color: rgba(41, 39, 39, 0.9);
}

/*
.picture-left{
    background-color: #d8d8e7;
    border-radius: 1px;
    border-color: black;
    border-width: 1px;

}
*/
#pic-1{
   
}
/*
#pic1{
    height:auto;
    max-width: 100%;
    padding: 1px;
    border-radius: 3px;
    border-color: #eceeef;
    border-style: inset;
    border-width: 0.25px;
}

#pic2{
    height:auto;
    max-width: 100%;
    padding: 1px;
    border-radius: 3px;
    border-color: #eceeef;
    border-style: inset;
    border-width: 0.25px;
}
*/

.vertical-center img{
    /*
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    */
   
}
/*
.picout{
    display: table;
}
*/

.picture-left{
    display: table-cell;
}

.pic-left{
    height:auto;
    max-width: 97%;
    padding: 1px;
    border-radius: 3px;
    border-color: #eceeef;
    border-style: inset;
    border-width: 0.25px;
    transition: all .3s ease-in 0s;
    vertical-align:middle;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.pic-left:hover{
    transform: scale(1.05);
    transition:all 0.3s ease-in;
}

.content-all{
    background-color: #ffffff;
    padding-top: 25px;
}

.content-right{
   /* font-weight: 500;*/
   font-weight:normal;
    font-size:medium;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: rgba(41, 39, 39, 0.9);
    line-height: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.content-right-title{
    font-weight:bolder;
    font-size:large;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: #395ca3;
    line-height: 30px;
    
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}



.people-title{
    font-size:large;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: rgba(41, 39, 39, 0.9);
    line-height: 30px;
}

.page-title-section{
    background-color:#395ca3;
    width:100%;
    line-height:60px;
    
    
}

.shadow-both{
    width: 100%;
    height:100%;
    position: relative;
    margin-bottom: 30px;
    /*box-shadow:0 1 5px 2px #6f6f6f;*/
}

.shadow-both::before {
    content: "";
    position:absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    bottom: 15%;
    border-radius: 10px;
    background: #6f6f6f;
    transform: translate(0, -20%) rotate(-4deg);
    transform-origin: center center;
    box-shadow: 0 0 20px 15px #6f6f6f;
    z-index: -1;
    
    

}

.shadow-both::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    bottom: 15%;
    border-radius: 10px;
    background: #6f6f6f;
    transform: translate(0, -20%) rotate(4deg);
    transform-origin: center center;
    box-shadow: 0 0 20px 15px #6f6f6f;
    z-index: -1;
    
    

}


.overlay{
    height: 100%;
    padding: 60px 0 60px;
    position: relative;
    width: 100%;
}

.container{
    padding-right: 15px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

.page-title-section .page-title h1{
    color: #fff;
    letter-spacing: 1px;
    margin: 0px;
    word-wrap: break-word;

    font-weight:bold;
    font-size: 2rem;
    font-family: "微软雅黑";
}

.page-breadcrumb {
    list-style: none outside none;
    margin: 0px;
    padding: 15px 0 0;
    font-weight: 500;
    text-align: right;
    line-height: 1.000rem;
}

.animated {
    animation-duration: 1.25s;
    animation-fill-mode: both;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.page-breadcrumb > li a, .page-breadcrumb > li.active a {
    color: #ffffff;
    float:right;
    
}

.a-right:hover{
    text-decoration:none; 
}

/*
@keyframes bounceInLeft {
    from, 60%, 80%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    0% {opacity: 0;transform: translateX(2000px);}
    60% {opacity: 1;transform: translateX(-30px);}
    80% {transform: translateX(10px);}
    
    100% {transform: translateX(0);}
}
*/
/*
@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    0% {opacity: 0;transform: translate3d(-3000px, 0, 0);}
    60% {opacity: 1;transform: translate3d(25px, 0, 0);}
    75% {transform: translate3d(-10px, 0, 0);}
    90% {transform: translate3d(5px, 0, 0);}
    100% {opacity: 1;transform: none;}
}
*/
/*
@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    0% {opacity: 0;transform: translate3d(3000px, 0, 0);}
    60% {opacity: 1;transform: translate3d(-25px, 0, 0);}
    75% {transform: translate3d(10px, 0, 0);}
    90% {transform: translate3d(-5px, 0, 0);}
    100% {opacity: 1;transform: none;}
}
*/


#animation {
    -webkit-animation:bounceInLeft 1s .2s ease both;
    -moz-animation:bounceInLeft 1s .2s ease both;
    }
    @-webkit-keyframes bounceInLeft {
    0% {
    opacity:0;
    -webkit-transform:translateX(-2000px)
    }
    60% {
    opacity:1;
    -webkit-transform:translateX(30px)
    }
    80% {
    -webkit-transform:translateX(-10px)
    }
    100% {
    -webkit-transform:translateX(0)
    }
    }
    @-moz-keyframes bounceInLeft {
    0% {
    opacity:0;
    -moz-transform:translateX(-2000px)
    }
    60% {
    opacity:1;
    -moz-transform:translateX(30px)
    }
    80% {
    -moz-transform:translateX(-10px)
    }
    100% {
    -moz-transform:translateX(0)
    }
    }

#animationright {
-webkit-animation:bounceInRight 1s .2s ease both;
-moz-animation:bounceInRight 1s .2s ease both;
}
@-webkit-keyframes bounceInRight {
0% {
opacity:0;
-webkit-transform:translateX(2000px)
}
60% {
opacity:1;
-webkit-transform:translateX(-30px)
}
80% {
-webkit-transform:translateX(10px)
}
100% {
-webkit-transform:translateX(0)
}
}
@-moz-keyframes bounceInRight {
0% {
opacity:0;
-moz-transform:translateX(2000px)
}
60% {
opacity:1;
-moz-transform:translateX(-30px)
}
80% {
-moz-transform:translateX(10px)
}
100% {
-moz-transform:translateX(0)
}
}

hr.style-one {/*透明渐变水平线*/
    width:100%;
    margin:0 auto;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(215, 215, 218, 0), rgba(202, 204, 206, 0.75), rgba(174, 174, 176, 0));
   }
hr.style-two{/*渐变*/
    width:80%;
    margin:0 auto;
    border: 0;
    height: 4px;
    background: #333;
    background-image: linear-gradient(to right, red, #333, rgb(9, 206, 91));
   }
hr.style-three{

    height:1px;
    border:none;
    border-top:1px dashed #686c70;
}

.bottom-index{
   
    background-color: #395ca3;
    padding-top:30px;
    padding-bottom: 25px;;
}

.cr{
    margin-top:5px;
    text-decoration: none;
    color:#fff;

}

#copyright-l{
    float: right;
    font-weight: formal;
}
#copyright-r{
    color:#fff;
    float: left;
    font-weight: formal;
}

#copyright-l:hover{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
}
#copyright-r:hover{
    font-weight:bold;
    text-decoration: none;
}

.area-title{
    font-weight:bolder;
    font-size:large;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: #395ca3;
    line-height: 30px;

    text-decoration: none;
    
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.area_1{
    font-weight:normal;
    font-size:medium;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: #000;
    line-height: 30px;
    
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.people-title{
    font-weight:bolder;
    font-size:large;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: #395ca3;
    line-height: 30px;

    
    
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.p-title{
    font-weight:bolder;
    font-size:xx-large;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: #395ca3;
    line-height: 30px;

    
    
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.people_1{
    font-weight:normal;
    font-size:medium;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: #000;
    line-height: 20px;
    
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.people_2{
    font-weight:bolder;
    font-size:medium;
    font-style: inherit;
    font-family: "微软雅黑";
    letter-spacing: 0.25px;
    color: #000;
    line-height: 30px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.people_2:hover{
    color: #395ca3;
}





